@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;500&display=swap');

:root {
    --primary-background: #fe2c55;
    --text-color: #333;
    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    //Icon
    --icon-search-font-size: 1.65rem;
    --icon-actions-font-size: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-rendering: optimizespeed;
    line-height: 1.5;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

div {
    display: block;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
